/* src/main/resources/static/style.css */
body {
    font-family:  Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}


h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
    font-size: 2.3em;
}

form {
    margin-bottom: 20px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 1em;
}

input[type="text"] {
    width: 60%;
    padding: 11px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1em;
}

button {
    padding: 12px 25px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
    text-align: relative;
}

button:hover {
    background-color: #EBF5FF;
}

.error-msg {
    color: red;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.1em;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 15px;
    text-align: left;
    font-size: 1em;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.btn {
    background-color: #c8c8c8;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    margin: 10px 0;
    cursor: pointer;
    text-decoration: none;
    border-radius: 2px;
    font-size: 1em;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #EBF5FF;
}

/* autocomplete.css */

.autocomplete-container {
    position: relative;
    width: 100%
}

.autocomplete-list {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 0;
    margin: 0;
    list-style-type: none;
    z-index: 1;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    display: none;
}

.autocomplete-option {
    padding: 8px 12px;
    cursor: pointer;
}

.autocomplete-option:hover {
    background-color: #f1f1f1;
}

