<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Seoul Population Congestion Information</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3kb7vQvHyf9d2yGPYDEDarneAVJ4yS28"></script>
</head>
<body>
<div class="container">
    <h1>Seoul Population Congestion Information</h1>

    <!-- Input form -->
    <form method="POST" action="/Congestion">
        <label for="location"></label>
        <div class="autocomplete-container">
            <input type="text" id="location" name="location" required th:value="${location}" placeholder="Enter The Area Name">
            <div class="autocomplete-list"></div>
            <button type="submit">Search</button>
        </div>
    </form>

    <script src="autocomplete.js"></script>

    <script>
        const autoCompleteData =
            ["강남 MICE 관광특구", "동대문 관광특구", "명동 관광특구", "이태원 관광특구", "잠실 관광특구", "종로·청계 관광특구", "홍대 관광특구", "경복궁", "광화문·덕수궁", "보신각", "서울 암사동 유적",
                "창덕궁·종묘", "가산디지털단지역", "강남역", "건대입구역", "고덕역", "고속터미널역", "교대역", "구로디지털단지역", "구로역", "군자역", "남구로역", "대림역", "동대문역", "뚝섬역", "미아사거리역",
                "발산역", "북한산우이역", "사당역", "삼각지역", "서울대입구역", "서울식물원·마곡나루역", "서울역", "선릉역", "성신여대입구역", "수유역", "신논현역·논현역", "신도림역", "신림역", "신촌·이대역",
                "양재역", "역삼역", "연신내역", "오목교역·목동운동장", "왕십리역", "용산역", "이태원역", "장지역", "장한평역", "천호역", "총신대입구(이수)역", "충정로역", "합정역", "혜화역", "홍대입구역(2호선)",
                "회기역", "4·19 카페거리", "가락시장", "가로수길", "광장(전통)시장", "김포공항", "낙산공원·이화마을", "노량진", "덕수궁길·정동길", "방배역 먹자골목", "북촌한옥마을", "서촌", "성수카페거리", "수유리 먹자골목",
                "쌍문동 맛집거리", "압구정로데오거리", "여의도", "연남동", "영등포 타임스퀘어", "외대앞", "용리단길", "이태원 앤틱가구거리", "인사동·익선동", "창동 신경제 중심지", "청담동 명품거리", "청량리 제기동 일대 전통시장",
                "해방촌·경리단길", "DDP(동대문디자인플라자)", "DMC(디지털미디어시티)", "강서한강공원", "고척돔", "광나루한강공원", "광화문광장", "국립중앙박물관·용산가족공원", "난지한강공원", "남산공원", "노들섬", "뚝섬한강공원",
                "망원한강공원", "반포한강공원", "북서울꿈의숲", "불광천", "서리풀공원·몽마르뜨공원", "서울광장", "서울대공원", "서울숲공원", "아차산", "양화한강공원", "어린이대공원", "여의도한강공원", "월드컵공원", "응봉산", "이촌한강공원",
                "잠실종합운동장", "잠실한강공원", "잠원한강공원", "청계산", "청와대", "북창동 먹자골목", "남대문시장"];

        const locationInput = document.getElementById("location");
        const autoCompleteList = document.querySelector(".autocomplete-list");

        locationInput.addEventListener("input", function() {
            const inputValue = this.value.toLowerCase();
            const filteredData = autoCompleteData.filter(item =>
                item.toLowerCase().startsWith(inputValue)
            );

            autoCompleteList.innerHTML = "";

            filteredData.forEach(item => {
                const option = document.createElement("div");
                option.classList.add("autocomplete-option");
                option.textContent = item;
                option.addEventListener("click", function() {
                    locationInput.value = this.textContent;
                    closeAutoCompleteList();
                });
                autoCompleteList.appendChild(option);
            });

            if (filteredData.length > 0) {
                autoCompleteList.style.display = "block";
            } else {
                autoCompleteList.style.display = "none";
            }
        });

        function closeAutoCompleteList() {
            autoCompleteList.style.display = "none";
        }

        document.addEventListener("click", function(event) {
            if (!event.target.closest(".autocomplete-container")) {
                closeAutoCompleteList();
            }
        });
    </script>

    <!-- Error message -->
    <div th:if="${error}" class="error-msg">
        <p th:text="${error}"></p>
    </div>

    <!-- Result display -->
    <div th:if="${location}">
        <h2>Result</h2>
        <table>
            <tr>
                <th>Last Measurement Time</th>
                <td th:text="${populationTime}"></td>
            </tr>
            <tr>
                <th>Area Name</th>
                <td th:text="${areaName}"></td>
            </tr>
            <tr>
                <th>Congestion Level</th>
                <td th:text="${areaCongestLevel}"></td>
            </tr>
            <tr>
                <th>Congestion Message</th>
                <td th:text="${areaCongestMsg}"></td>
            </tr>
            <tr>
                <th>Male Population Ratio</th>
                <td th:text="${malePopulationRate}"></td>
            </tr>
            <tr>
                <th>Female Population Ratio</th>
                <td th:text="${femalePopulationRate}"></td>
            </tr>
        </table>

        <h3>Forecast Data</h3>
        <canvas id="forecastChart"></canvas>
        <div class="chart-space"></div>
        <script th:inline="javascript">
            var forecastTimes = /*[[${forecastTimes}]]*/ [];
            var forecastCongestions = /*[[${forecastCongestions}]]*/ [];

            var forecastValues = forecastCongestions.map(function(congestion) {
                switch (congestion) {
                    case '여유':
                        return '여유';
                    case '보통':
                        return '보통';
                    case '약간 붐빔':
                        return '약간 붐빔';
                    case '붐빔':
                        return '붐빔';
                    default:
                        return 0;
                }
            });

            var ctx = document.getElementById('forecastChart').getContext('2d');
            var forecastChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: forecastTimes,
                    datasets: [{
                        label: 'Forecast Congestion',
                        data: forecastValues,
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 3
                    }]
                },
                options: {
                    scales: {
                        y: {
                            type: 'category',
                            labels: ['붐빔', '약간 붐빔', '보통', '여유'],
                            ticks: {
                                font: {
                                    size: 13 // 원하는 글자 크기로 변경
                                }
                            }
                        },
                        x: {
                            ticks: {
                                font: {
                                    size: 13 // x축 레이블의 글자 크기도 변경
                                }
                            }
                        }
                    }
                }
            });
        </script>

        <h3>Map</h3>
        <div id="map" style="height: 500px; width: 100%;"></div>
        <script th:inline="javascript">
            function initMap() {
                var latitude = [[${latitude}]] ;
                var longitude = [[${longitude}]];
                var location = {lat: latitude, lng: longitude};
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 15,
                    center: location
                });
                var marker = new google.maps.Marker({
                    position: location,
                    map: map
                });
            }
            document.addEventListener("DOMContentLoaded", function() {
                initMap();
            });
        </script>
    </div>
</div>

</body>
</html>
