<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Seoul Population Congestion Information</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="container">
    <h1>Seoul Population Congestion Information</h1>

    <!-- Input form -->
    <form method="POST" action="/Congestion">
        <label for="location"></label>
        <input type="text" id="location" name="location" required th:value="${location}" placeholder="Enter The Area Name">
        <button type="submit">Search</button>

        <!-- Open Excel button -->
        <div>
            <a href="/open/excel" class="btn"> Show Area List </a>
        </div>
    </form>

    <!-- Error message -->
    <div th:if="${error}" class="error-msg">
        <p th:text="${error}"></p>
    </div>

    <!-- Result display -->
    <div th:if="${location}">
        <h2>Result:</h2>
        <table>
            <tr>
                <th>Last Measurement Time</th>
                <td th:text="${populationTime}"></td>
            </tr>
            <tr>
                <th>Area Name</th>
                <td th:text="${areaName}"></td>
            </tr>
            <tr>
                <th>Area Code</th>
                <td th:text="${areaCode}"></td>
            </tr>
            <tr>
                <th>Congestion Level</th>
                <td th:text="${areaCongestLevel}"></td>
            </tr>
            <tr>
                <th>Congestion Message</th>
                <td th:text="${areaCongestMsg}"></td>
            </tr>
            <tr>
                <th>Male Population Ratio</th>
                <td th:text="${malePopulationRate}"></td>
            </tr>
            <tr>
                <th>Female Population Ratio</th>
                <td th:text="${femalePopulationRate}"></td>
            </tr>
            <tr>
                <th>Forecast Time</th>
                <td th:text="${forecastTime}"></td>
            </tr>
            <tr>
                <th>Forecast Congestion</th>
                <td th:text="${forecastCongestion}"></td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>
